/* Define styles for labels */
.root{
	-fx-background-color: #F5F5F5;
}
.image {
    /* Set background image */
    -fx-background-image: url('assets/photos/elearning.jpg');
    /*-fx-background-color: #FFF000;*/
    /* Preserve the aspect ratio of the background image */
      -fx-background-size: cover;
    -fx-background-position: center;
    
}
.avatar {
    /* Set background image */
    -fx-background-image: url('assets/photos/avatar.png');
   /*  -fx-background-color: #FFF000;*/
    /* Preserve the aspect ratio of the background image */
      -fx-background-size: cover;
    -fx-background-position: center;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-padding: 20 10 20 0;
   /* -fx-background-radius: 50; */
}
.titles{
	-fx-font-size: 40px;
	-fx-font-weight: bold;
}
.desc{
	-fx-font-size: 10;
}
.overlay {
    /* Semi-transparent dark background */
    -fx-background-color: rgba(0, 0, 0, 0.2);
}
.label {
    -fx-font-size: 14px;
 /*  -fx-font-weight: bold;*/
}

/* Define styles for text fields */
.text-field {
    -fx-prompt-text-fill: gray;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em;
    -fx-text-box-border: transparent;
    -fx-text-box-border-width: 1;
    -fx-text-box-border-color: #041444;
    -fx-highlight-fill: -fx-control-inner-background;
    -fx-highlight-text-fill: -fx-text-inner-color;
}
.button {
    -fx-background-color: #041444; 
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-font-weight: bold;
}
.button-join {
    -fx-background-color: #041444;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-font-weight: bold;
}
.button-unjoin	 {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-font-weight: bold;
}
/* Define styles for ComboBox */
.combo-box {
	 -fx-font-size: 14px;
     -fx-pref-width: 200;
     -fx-pref-height: 40;
     -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0.25em 0.25em 0.25em 0.25em; /* Adjust padding to match the default */
    -fx-text-box-border: transparent;
    -fx-text-box-border-width: 1;
    -fx-text-box-border-color: #041444;
    -fx-highlight-fill: -fx-control-inner-background;
    -fx-highlight-text-fill: -fx-text-inner-color;
}
.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}
.menu{
	-fx-border-width: 0 1 0 0; /* top, right, bottom, left */
    -fx-border-color: #041444;
}
.header{
	-fx-border-width: 0 0 1 0; 
    -fx-border-color:  #041444;
}
.mainpage{
    -fx-pref-height: 800;
}
.menuItem{
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}
.menu .menuItem.selected {
    -fx-font-weight: bold;
    -fx-background-color: #041444;
    -fx-text-fill: white;
}
.menu .menuItem:hover {
    -fx-font-weight: bold;
    -fx-background-color: #041444;
    -fx-text-fill: white;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, #000, 10, 0, 0, 0);
}

.sessionCard{
	-fx-background-color: white;
	-fx-pref-width: 250;
	-fx-pref-height: 170;
	-fx-background-radius: 10 10 10 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
.sessionCardStudent{
	-fx-background-color: white;
	-fx-pref-width: 250;
	-fx-pref-height: 200;
	-fx-background-radius: 10 10 10 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
.sessionCardStudent:hover{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}
.sessionCard:hover{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}
.moduleColorDefault{
     -fx-background-color:  #041444;
	-fx-pref-width: 250;
	-fx-pref-height: 110;
	-fx-background-radius: 10 10 0 0;
}
.moduleColorMath {
    -fx-background-image: url('assets/photos/Math.png');
      -fx-background-size: cover;
    -fx-background-position: center;
	-fx-pref-width: 250;
	-fx-pref-height: 110;
	-fx-background-radius: 10 10 0 0;
    /* Other styling properties */
}

.moduleColorAlgo {
    -fx-background-image: url('assets/photos/Algo.png');
    /* Other styling properties */
      -fx-background-size: cover;
    -fx-background-position: center;
	-fx-pref-width: 250;
	-fx-pref-height: 110;
	-fx-background-radius: 10 10 0 0;
}
.moduleColorPhys {
    -fx-background-image: url('assets/photos/Phys.png');
    /* Other styling properties */
      -fx-background-size: cover;
    -fx-background-position: center;
	-fx-pref-width: 250;
	-fx-pref-height: 110;
	-fx-background-radius: 10 10 0 0;
}
.sessionInfo{
	-fx-padding: 5 5 5 5;
}
.sessionJoin{
	-fx-padding: 5 5 5 5;
}
.addSessionCard{
	-fx-background-color: #041444;
	-fx-pref-width: 250;
	-fx-pref-height: 170;
	-fx-background-radius: 10 10 10 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}
.addSessionCard:hover{
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 0);
}
